* {
    padding: 0;
    margin: 0;
}

::-webkit-input-placeholder {
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

::-moz-placeholder {
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

:-ms-input-placeholder {
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

:-moz-placeholder {
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

.grid {
    position: absolute;
    display: grid;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    grid-template: minmax(27px, 7%) minmax(100px, 1fr) minmax(21px, 6%) / 1fr 2fr 1fr;
    gap: 1.25% 1%;
}

.header {
    grid-area: 1 / 1 / span 1 / span 3;
    background-color: rgba(219,3,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 35px;
}

.todolist {
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: #b9bdc0;
    border-radius: 20px;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    font-weight: 500;
    overflow: auto;
    display: block;
}

input[type="checkbox"]:checked + .todolist__label {
    text-decoration: line-through;
}

.todolist__checkbox {
    margin-left: 3%;
    margin-top: 2%;
}

.button {
    border-radius: 10px;
    width: 65px;
    height: 30px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 20px;
    outline: none;
}

.todolist__delete-button {
    background-color: #dee2e5;
    font-size: 18px;
    width: 55px;
    height: 25px;
    margin-left: 5px;
}

.todolist__edit-button {
    background-color: #dee2e5;
    margin-left: 30px;
    font-size: 18px;
    width: 55px;
    height: 25px;
}

.add-form {
    grid-area: 2 / 3 / span 1 / span 1;
    font-family: 'Caveat', cursive;
}

.add-form__input-field {
    border-radius: 10px;
    width: 95%;
    resize: none;
    outline: none;
}

.add-form__edit-button {
    margin-left: 5px;
}

.footer {
    grid-area: 3 / 1/ span 1 / span 3;
    background-color: rgba(219,3,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 20px;
}

@media only screen and (max-width: 650px) {
    .todolist {
        grid-area: 2 / 1 / span 1 / span 2;
        margin-left: 3%;
    }

    .add-form__input-field {
        height: 65px;
    }

    .add-form__save-button {
        margin-left: 28px;
    }

    .add-form__edit-button {
        margin-top: 5px;
        margin-left: 28px;
    }
}
